<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" routerLink="/">{{title}}</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/starosta">Starosta <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/policjant">Policjant <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div id="gap"></div>
<router-outlet></router-outlet>
