<div class="row">
  <div class="col-lg-12">
    <div style="padding: 15px">
      <div class="row">
        <div class="col-lg-4 col-sm-6 float-xs-right">
          <div class="input-group">
            <input #VIN type="text" class="form-control" placeholder="Numer VIN">
            <span class="input-group-btn">
        <button class="btn btn-default" type="button"
                (click)="isVehicleExists(VIN.value);
                VIN.value=''">Szukaj</button>
      </span>
          </div>
        </div>
      </div>
      <h4 id="#formHeader">Dane pojazdu:</h4>
      <form [formGroup]="formularzRejestracji">
        <div class="form-group row">
          <div class="col-sm-12">
            <label>Rodzaj pojazdu: </label>
            <input type="text" class="form-control" [formControl]="formularzRejestracji.controls['rodzaj_pojazdu']"
                   [ngModel]="samochod.rodzaj_pojazdu">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4">
            <label>Marka: </label>
            <input type="text" class="form-control" [formControl]="formularzRejestracji.controls['marka']"
                   [ngModel]="samochod.marka">
          </div>
          <div class="col-sm-4">
            <label>Typ: </label>
            <input type="text" class="form-control" [formControl]="formularzRejestracji.controls['typ']"
                   [ngModel]="samochod.typ">
          </div>
          <div class="col-sm-4">
            <label>Model: </label>
            <input type="text" class="form-control" [formControl]="formularzRejestracji.controls['model']"
                   [ngModel]="samochod.model">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label>Rok produkcji: </label>
            <input [maxlength]="4" type="text" class="form-control"
                   [formControl]="formularzRejestracji.controls['rok_produkcji']"
                   [ngModel]="samochod.rok_produkcji">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label>Numer identyfikacyjny VIN: </label>
            <input type="text" class="form-control" [formControl]="formularzRejestracji.controls['nr_VIN']"
                   [ngModel]="samochod.nr_VIN">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label>Numer silnika: </label>
            <input type="text" class="form-control" [formControl]="formularzRejestracji.controls['nr_silnika']"
                   [ngModel]="samochod.nr_silnika">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label>Dotychczasowy numer rejestracyjny: </label>
            <input type="text" class="form-control" [formControl]="formularzRejestracji.controls['d_nr_rejestracyjny']"
                   [ngModel]="samochod.d_nr_rejestracyjny">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label>Numer karty pojazdu: </label>
            <input type="text" class="form-control" [formControl]="formularzRejestracji.controls['nr_kart_pojazdu']"
                   [ngModel]="samochod.nr_kart_pojazdu">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <label>Przebieg pojazdu w km: </label>
            <input type="text" class="form-control" [formControl]="formularzRejestracji.controls['przebieg_p_w_km']"
                   [ngModel]="samochod.przebieg_p_w_km">
          </div>
          <div class="col-sm-6">
            <label>Barwa nadwozia: </label>
            <input type="text" class="form-control" [formControl]="formularzRejestracji.controls['barwa_nadwozia']"
                   [ngModel]="samochod.barwa_nadwozia">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
